{% extends 'base.html' %}
{% load i18n %}

{% block extra_css %}
<style>
    .opportunity-nav {
        background-color: #f8f9fa;
        padding: 15px 0;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="opportunity-nav">
    <div class="container">
        <a href="{% url 'opportunities:opportunity_list' %}" class="mt-4 btn btn-secondary">{% trans "All Opportunities" %}</a>
        {% if user.is_authenticated %}

        {% endif %}
    </div>
</div>
{% block opportunity_content %}{% endblock %}
{% endblock %}
